.container {
    padding:0px;
}

@media screen and (max-width:760px) {
    div.bloque {
        display: none;
    }
    div.columna{
    	width: 100%;
    }
}

@media(min-width:1300px) {
    .container {
        width: 1321px;
        padding:0px;
    }
}

